<table width="100%">
    <tr>
        <td><img src="{{ asset("/img/pe_cimer.jpg") }}" /></td>
        <td align="center">
            <span style="font-family: Times; font-size: 26px;"><b>PANNON EGYETEM</b></span><br />
            <span style="font-family: Times; font-size: 18px;"><b>Hallgatói Önkormányzat</b></span>
        </td>
        <td><img src="{{ asset("/img/pehok_logo.jpg") }}" width="140" height="140"/></td>
    </tr>
</table>
