{% extends "::base.html.twig" %}

{% block body %}
<div class="page-header">
    <h1>Új felhasználó</h1>
</div>

{% include "SzakdolgozatFelhasznaloBundle:Felhasznalo:_form.html.twig" %}
{% endblock %}
