{% extends "::base.html.twig" %}

{% block body %}
<h3>Következő üléseim</h3>

{% include "SzakdolgozatUlesBundle:Ules:_list.html.twig" with { "ulesek": kovetkezoUleseim } %}

<h3>Lezáratlan jegyzőkönyveim</h3>

{% include "SzakdolgozatJegyzokonyvBundle:Jegyzokonyv:_list.html.twig" with { "jegyzokonyvek": lezaratlanJegyzokonyveim } %}

<h3>Hitelesítésre váró jegyzőkönyveim</h3>

{% include "SzakdolgozatJegyzokonyvBundle:Jegyzokonyv:_list.html.twig" with { "jegyzokonyvek": hitelesitesreVaroJegyzokonyveim } %}

<h3>Közelmúltbeli, jegyzőkönyv nélküli üléseim</h3>

{% include "SzakdolgozatUlesBundle:Ules:_list.html.twig" with { "ulesek": jegyzokonyvNelkuliUleseim } %}
{% endblock %}
