{% extends "::base.html.twig" %}

{% block body %}
<div class="page-header">
    <h1>Új szervezeti egység</h1>
</div>

{% include "SzakdolgozatFelhasznaloBundle:SzervezetiEgyseg:_form.html.twig" %}
{% endblock %}
