{% extends "::base.html.twig" %}

{% block body %}
<div class="page-header">
    <h1>Jegyzőkönyv szerkesztése</h1>
</div>

{% include "SzakdolgozatJegyzokonyvBundle:Jegyzokonyv:_form.html.twig" %}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset("/js/jquery-ui-1.10.2.custom.min.js") }}"></script>
<script src="{{ asset("/js/jegyzokonyv_form.js") }}"></script>
<script>
    var $kovetkezo_elem = {{ kovetkezo_elem|default(0) }};
</script>
{% endblock %}
