{% extends "::base.html.twig" %}

{% block body %}
<div class="page-header">
    <h1>Jegyzőkönyvek</h1>
</div>

{% include "SzakdolgozatJegyzokonyvBundle:Jegyzokonyv:_list.html.twig" %}

<a href="{{ path("szakdolgozat_jegyzokonyv_jegyzokonyv_new") }}" class="btn btn-primary">Új jegyzőkönyv</a>
{% endblock %}
